In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import seaborn as sns

In [38]:
df=pd.read_csv("/content/drive/MyDrive/Deep Learning/AB_NYC_2019.csv")
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [39]:
df.shape

(48895, 16)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [41]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [42]:
df.drop(['id','host_id','host_name'],axis=1,inplace=True)

In [43]:
df.head()

                                               name  ... availability_365
0                Clean & quiet apt home by the park  ...              365
1                             Skylit Midtown Castle  ...              355
2               THE VILLAGE OF HARLEM....NEW YORK !  ...              365
3                   Cozy Entire Floor of Brownstone  ...              194
4  Entire Apt: Spacious Studio/Loft by central park  ...                0

[5 rows x 13 columns]

In [44]:
df.isnull().sum()

name                                 16
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [45]:
((df.isnull().sum())/df.shape[0]*100)

name                               0.032723
neighbourhood_group                0.000000
neighbourhood                      0.000000
latitude                           0.000000
longitude                          0.000000
room_type                          0.000000
price                              0.000000
minimum_nights                     0.000000
number_of_reviews                  0.000000
last_review                       20.558339
reviews_per_month                 20.558339
calculated_host_listings_count     0.000000
availability_365                   0.000000
dtype: float64

In [46]:
df.drop(['last_review'],axis=1,inplace=True)

In [47]:
((df.isnull().sum())/df.shape[0]*100)

name                               0.032723
neighbourhood_group                0.000000
neighbourhood                      0.000000
latitude                           0.000000
longitude                          0.000000
room_type                          0.000000
price                              0.000000
minimum_nights                     0.000000
number_of_reviews                  0.000000
reviews_per_month                 20.558339
calculated_host_listings_count     0.000000
availability_365                   0.000000
dtype: float64

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            48879 non-null  object
 1   neighbourhood_group             48895 non-null  object
 2   neighbourhood                   48895 non-null  object
 3   latitude                        48895 non-null  float64
 4   longitude                       48895 non-null  float64
 5   room_type                       48895 non-null  object
 6   price                           48895 non-null  int64
 7   minimum_nights                  48895 non-null  int64
 8   number_of_reviews               48895 non-null  int64
 9   reviews_per_month               38843 non-null  float64
 10  calculated_host_listings_count  48895 non-null  int64
 11  availability_365                48895 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 4.5+ MB

In [49]:
df["reviews_per_month"].replace(np.nan,df["reviews_per_month"].mean(),inplace=True)

In [50]:
df.isnull().sum()

name                              16
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [51]:
dt=list(df[((df.isnull().sum(axis=1)/df.shape[1])*100)>5].index)

In [52]:
for x in dt:
    df=df.drop(x)

In [53]:
df.isnull().sum()

name                              0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [54]:
#is_NaN = df.isnull()
#row_has_NaN = is_NaN.any(axis=1)
#rows_with_NaN = df[row_has_NaN]
#print(rows_with_NaN)
# checking which row is null

In [55]:
#df.drop([2854,3703,5775,5975,6269,6567,6605,8841,11963,12824,13059,13401,15819,16071,18047,28889],axis=0,inplace=True)#dropping the row

In [56]:
#df.isnull().sum()

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48879 entries, 0 to 48894
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            48879 non-null  object
 1   neighbourhood_group             48879 non-null  object
 2   neighbourhood                   48879 non-null  object
 3   latitude                        48879 non-null  float64
 4   longitude                       48879 non-null  float64
 5   room_type                       48879 non-null  object
 6   price                           48879 non-null  int64
 7   minimum_nights                  48879 non-null  int64
 8   number_of_reviews               48879 non-null  int64
 9   reviews_per_month               48879 non-null  float64
 10  calculated_host_listings_count  48879 non-null  int64
 11  availability_365                48879 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 4.8+ MB

In [58]:
df_num=df.select_dtypes(["int64","float64"])
df_cat=df.select_dtypes("object")

In [59]:
from sklearn.preprocessing import LabelEncoder
for col in df_cat: 
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [60]:
df_cat.head()

    name  neighbourhood_group  neighbourhood  room_type
0  12328                    1            108          1
1  37455                    2            127          0
2  43543                    2             94          1
3  14783                    1             41          0
4  18693                    2             61          0

In [61]:
df_new=pd.concat([df_num,df_cat],axis=1)
df_new.head()

   latitude  longitude  price  ...  neighbourhood_group  neighbourhood  room_type
0  40.64749  -73.97237    149  ...                    1            108          1
1  40.75362  -73.98377    225  ...                    2            127          0
2  40.80902  -73.94190    150  ...                    2             94          1
3  40.68514  -73.95976     89  ...                    1             41          0
4  40.79851  -73.94399     80  ...                    2             61          0

[5 rows x 12 columns]

In [62]:
X=df_new.drop("price",axis=1) #Input means independent variable
Y=df_new["price"]

In [63]:
from sklearn.model_selection import train_test_split
from keras.layers import Dropout
from keras import regularizers
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [64]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)

In [65]:
#model = tf.keras.Sequential([
#tf.keras.layers.Dense(1000, activation='relu', kernel_regularizer=regularizers.l2(0.01), input_shape=(X.shape[1],)),
#    Dropout(0.3),  #30% neuron deactivate
#  tf.keras.layers.Dense(1000, activation='relu', kernel_regularizer=regularizers.l2(0.01)),
#    Dropout(0.3),
#    tf.keras.layers.Dense(1000, activation='relu', kernel_regularizer=regularizers.l2(0.01)),
#    Dropout(0.3),
#    tf.keras.layers.Dense(1000, activation='relu', kernel_regularizer=regularizers.l2(0.01)),
#    Dropout(0.3),
#    tf.keras.layers.Dense(1,kernel_regularizer=regularizers.l2(0.01))
#])

In [66]:
#model = tf.keras.Sequential([
#tf.keras.layers.Dense(10, activation='relu', input_shape=(X.shape[1],)),
#    tf.keras.layers.Dense(128, activation='relu', ),
#    tf.keras.layers.Dense(64, activation='relu', ),
#    Dropout(0.3),
#    tf.keras.layers.Dense(32, activation='relu', ),
#    tf.keras.layers.Dense(1)
#])

In [67]:

model=tf.keras.Sequential([
                           tf.keras.layers.Dense(128,activation='relu',input_shape=(X.shape[1],)),
                           tf.keras.layers.Dense(256,activation='relu'),
                           tf.keras.layers.Dense(256,activation='relu'),
                           tf.keras.layers.Dense(1,activation='linear')
])

In [68]:
opt=tf.keras.optimizers.Adam(learning_rate=0.5)
#rmse=tf.keras.metrics.RootMeanSquaredError()
model.compile(optimizer=opt,
              loss='mean_squared_error',
              metrics=['accuracy'])

In [69]:
trained_model=model.fit(X_train,Y_train,epochs=100,batch_size=32)
trained_model

Epoch 1/100
1070/1070 [==============================] - 4s 3ms/step - loss: 141347992.1166 - accuracy: 0.0000e+00
Epoch 2/100
1070/1070 [==============================] - 3s 3ms/step - loss: 55527.4526 - accuracy: 0.0000e+00
Epoch 3/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49788.3950 - accuracy: 0.0000e+00
Epoch 4/100
1070/1070 [==============================] - 3s 3ms/step - loss: 40367.1869 - accuracy: 0.0000e+00
Epoch 5/100
1070/1070 [==============================] - 3s 3ms/step - loss: 64833.4653 - accuracy: 0.0000e+00
Epoch 6/100
1070/1070 [==============================] - 3s 3ms/step - loss: 43362.5527 - accuracy: 0.0000e+00
Epoch 7/100
1070/1070 [==============================] - 3s 3ms/step - loss: 46916.8999 - accuracy: 0.0000e+00
Epoch 8/100
1070/1070 [==============================] - 3s 3ms/step - loss: 60585.2594 - accuracy: 0.0000e+00
Epoch 9/100
1070/1070 [==============================] - 3s 3ms/step - loss: 45970.7952 - accuracy: 0.0000e+00
Epoch 10/100
1070/1070 [==============================] - 3s 3ms/step - loss: 43224.4389 - accuracy: 0.0000e+00
Epoch 11/100
1070/1070 [==============================] - 3s 3ms/step - loss: 44943.8637 - accuracy: 0.0000e+00
Epoch 12/100
1070/1070 [==============================] - 3s 3ms/step - loss: 55588.9393 - accuracy: 0.0000e+00
Epoch 13/100
1070/1070 [==============================] - 3s 3ms/step - loss: 42552.8166 - accuracy: 0.0000e+00
Epoch 14/100
1070/1070 [==============================] - 3s 3ms/step - loss: 50069.6559 - accuracy: 0.0000e+00
Epoch 15/100
1070/1070 [==============================] - 3s 3ms/step - loss: 55188.6272 - accuracy: 0.0000e+00
Epoch 16/100
1070/1070 [==============================] - 3s 3ms/step - loss: 51394.9235 - accuracy: 0.0000e+00
Epoch 17/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49789.1302 - accuracy: 0.0000e+00
Epoch 18/100
1070/1070 [==============================] - 3s 3ms/step - loss: 44157.4403 - accuracy: 0.0000e+00
Epoch 19/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49659.4301 - accuracy: 0.0000e+00
Epoch 20/100
1070/1070 [==============================] - 3s 3ms/step - loss: 48533.9172 - accuracy: 0.0000e+00
Epoch 21/100
1070/1070 [==============================] - 3s 3ms/step - loss: 67788.3183 - accuracy: 0.0000e+00
Epoch 22/100
1070/1070 [==============================] - 3s 3ms/step - loss: 44515.9200 - accuracy: 0.0000e+00
Epoch 23/100
1070/1070 [==============================] - 3s 3ms/step - loss: 44563.4295 - accuracy: 0.0000e+00
Epoch 24/100
1070/1070 [==============================] - 3s 3ms/step - loss: 52027.9558 - accuracy: 0.0000e+00
Epoch 25/100
1070/1070 [==============================] - 3s 3ms/step - loss: 46799.3989 - accuracy: 0.0000e+00
Epoch 26/100
1070/1070 [==============================] - 3s 3ms/step - loss: 47782.4566 - accuracy: 0.0000e+00
Epoch 27/100
1070/1070 [==============================] - 3s 3ms/step - loss: 45555.3594 - accuracy: 0.0000e+00
Epoch 28/100
1070/1070 [==============================] - 3s 3ms/step - loss: 61968.2336 - accuracy: 0.0000e+00
Epoch 29/100
1070/1070 [==============================] - 3s 3ms/step - loss: 46026.7024 - accuracy: 0.0000e+00
Epoch 30/100
1070/1070 [==============================] - 3s 3ms/step - loss: 68464.2624 - accuracy: 0.0000e+00
Epoch 31/100
1070/1070 [==============================] - 3s 3ms/step - loss: 41581.7191 - accuracy: 0.0000e+00
Epoch 32/100
1070/1070 [==============================] - 3s 3ms/step - loss: 38225.5615 - accuracy: 0.0000e+00
Epoch 33/100
1070/1070 [==============================] - 3s 3ms/step - loss: 48639.6714 - accuracy: 0.0000e+00
Epoch 34/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49212.0275 - accuracy: 0.0000e+00
Epoch 35/100
1070/1070 [==============================] - 3s 3ms/step - loss: 47789.8953 - accuracy: 0.0000e+00
Epoch 36/100
1070/1070 [==============================] - 3s 3ms/step - loss: 42580.8900 - accuracy: 0.0000e+00
Epoch 37/100
1070/1070 [==============================] - 3s 3ms/step - loss: 43486.9698 - accuracy: 0.0000e+00
Epoch 38/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49054.1808 - accuracy: 0.0000e+00
Epoch 39/100
1070/1070 [==============================] - 3s 3ms/step - loss: 53019.9400 - accuracy: 0.0000e+00
Epoch 40/100
1070/1070 [==============================] - 3s 3ms/step - loss: 50984.3041 - accuracy: 0.0000e+00
Epoch 41/100
1070/1070 [==============================] - 3s 3ms/step - loss: 52142.3954 - accuracy: 0.0000e+00
Epoch 42/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49752.1885 - accuracy: 0.0000e+00
Epoch 43/100
1070/1070 [==============================] - 3s 3ms/step - loss: 51085.6489 - accuracy: 0.0000e+00
Epoch 44/100
1070/1070 [==============================] - 3s 3ms/step - loss: 43369.8068 - accuracy: 0.0000e+00
Epoch 45/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49822.6414 - accuracy: 0.0000e+00
Epoch 46/100
1070/1070 [==============================] - 3s 3ms/step - loss: 37534.1406 - accuracy: 0.0000e+00
Epoch 47/100
1070/1070 [==============================] - 3s 3ms/step - loss: 53942.5484 - accuracy: 0.0000e+00
Epoch 48/100
1070/1070 [==============================] - 3s 3ms/step - loss: 47601.3690 - accuracy: 0.0000e+00
Epoch 49/100
1070/1070 [==============================] - 3s 3ms/step - loss: 57170.7291 - accuracy: 0.0000e+00
Epoch 50/100
1070/1070 [==============================] - 3s 3ms/step - loss: 38003.8997 - accuracy: 0.0000e+00
Epoch 51/100
1070/1070 [==============================] - 3s 3ms/step - loss: 51093.7396 - accuracy: 0.0000e+00
Epoch 52/100
1070/1070 [==============================] - 3s 3ms/step - loss: 55474.7307 - accuracy: 0.0000e+00
Epoch 53/100
1070/1070 [==============================] - 3s 3ms/step - loss: 42372.8438 - accuracy: 0.0000e+00
Epoch 54/100
1070/1070 [==============================] - 3s 3ms/step - loss: 52998.1734 - accuracy: 0.0000e+00
Epoch 55/100
1070/1070 [==============================] - 3s 3ms/step - loss: 51040.7646 - accuracy: 0.0000e+00
Epoch 56/100
1070/1070 [==============================] - 3s 3ms/step - loss: 41739.2823 - accuracy: 0.0000e+00
Epoch 57/100
1070/1070 [==============================] - 3s 3ms/step - loss: 50246.7016 - accuracy: 0.0000e+00
Epoch 58/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49326.4024 - accuracy: 0.0000e+00
Epoch 59/100
1070/1070 [==============================] - 3s 3ms/step - loss: 39798.8137 - accuracy: 0.0000e+00
Epoch 60/100
1070/1070 [==============================] - 3s 3ms/step - loss: 41727.7871 - accuracy: 0.0000e+00
Epoch 61/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49799.4686 - accuracy: 0.0000e+00
Epoch 62/100
1070/1070 [==============================] - 3s 3ms/step - loss: 43329.5098 - accuracy: 0.0000e+00
Epoch 63/100
1070/1070 [==============================] - 3s 3ms/step - loss: 53159.6339 - accuracy: 0.0000e+00
Epoch 64/100
1070/1070 [==============================] - 3s 3ms/step - loss: 53744.8809 - accuracy: 0.0000e+00
Epoch 65/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49439.7617 - accuracy: 0.0000e+00
Epoch 66/100
1070/1070 [==============================] - 3s 3ms/step - loss: 47866.1923 - accuracy: 0.0000e+00
Epoch 67/100
1070/1070 [==============================] - 3s 3ms/step - loss: 43870.1414 - accuracy: 0.0000e+00
Epoch 68/100
1070/1070 [==============================] - 3s 3ms/step - loss: 38707.8557 - accuracy: 0.0000e+00
Epoch 69/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49816.1488 - accuracy: 0.0000e+00
Epoch 70/100
1070/1070 [==============================] - 3s 3ms/step - loss: 48967.5514 - accuracy: 0.0000e+00
Epoch 71/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49330.4038 - accuracy: 0.0000e+00
Epoch 72/100
1070/1070 [==============================] - 3s 3ms/step - loss: 44844.0850 - accuracy: 0.0000e+00
Epoch 73/100
1070/1070 [==============================] - 3s 3ms/step - loss: 43111.0833 - accuracy: 0.0000e+00
Epoch 74/100
1070/1070 [==============================] - 3s 3ms/step - loss: 42787.0017 - accuracy: 0.0000e+00
Epoch 75/100
1070/1070 [==============================] - 3s 3ms/step - loss: 57546.6154 - accuracy: 0.0000e+00
Epoch 76/100
1070/1070 [==============================] - 3s 3ms/step - loss: 52304.7477 - accuracy: 0.0000e+00
Epoch 77/100
1070/1070 [==============================] - 3s 3ms/step - loss: 51157.2763 - accuracy: 0.0000e+00
Epoch 78/100
1070/1070 [==============================] - 3s 3ms/step - loss: 46759.9880 - accuracy: 0.0000e+00
Epoch 79/100
1070/1070 [==============================] - 3s 3ms/step - loss: 49573.6947 - accuracy: 0.0000e+00
Epoch 80/100
1070/1070 [==============================] - 3s 3ms/step - loss: 56447.4148 - accuracy: 0.0000e+00
Epoch 81/100
1070/1070 [==============================] - 3s 3ms/step - loss: 39475.1016 - accuracy: 0.0000e+00
Epoch 82/100
1070/1070 [==============================] - 3s 3ms/step - loss: 51672.6125 - accuracy: 0.0000e+00
Epoch 83/100
1070/1070 [==============================] - 3s 3ms/step - loss: 54381.0704 - accuracy: 0.0000e+00
Epoch 84/100
1070/1070 [==============================] - 3s 3ms/step - loss: 56457.9966 - accuracy: 0.0000e+00
Epoch 85/100
1070/1070 [==============================] - 3s 3ms/step - loss: 47886.0023 - accuracy: 0.0000e+00
Epoch 86/100
1070/1070 [==============================] - 3s 3ms/step - loss: 54567.4702 - accuracy: 0.0000e+00
Epoch 87/100
1070/1070 [==============================] - 3s 3ms/step - loss: 46822.2464 - accuracy: 0.0000e+00
Epoch 88/100
1070/1070 [==============================] - 3s 3ms/step - loss: 45983.9018 - accuracy: 0.0000e+00
Epoch 89/100
1070/1070 [==============================] - 3s 3ms/step - loss: 46770.3155 - accuracy: 0.0000e+00
Epoch 90/100
1070/1070 [==============================] - 3s 3ms/step - loss: 42321.9109 - accuracy: 0.0000e+00
Epoch 91/100
1070/1070 [==============================] - 3s 3ms/step - loss: 52420.2500 - accuracy: 0.0000e+00
Epoch 92/100
1070/1070 [==============================] - 3s 3ms/step - loss: 52666.7595 - accuracy: 0.0000e+00
Epoch 93/100
1070/1070 [==============================] - 3s 3ms/step - loss: 43052.0194 - accuracy: 0.0000e+00
Epoch 94/100
1070/1070 [==============================] - 3s 3ms/step - loss: 54800.2464 - accuracy: 0.0000e+00
Epoch 95/100
1070/1070 [==============================] - 3s 3ms/step - loss: 41274.2745 - accuracy: 0.0000e+00
Epoch 96/100
1070/1070 [==============================] - 3s 3ms/step - loss: 48148.1502 - accuracy: 0.0000e+00
Epoch 97/100
1070/1070 [==============================] - 3s 3ms/step - loss: 56369.4235 - accuracy: 0.0000e+00
Epoch 98/100
1070/1070 [==============================] - 3s 3ms/step - loss: 54838.9518 - accuracy: 0.0000e+00
Epoch 99/100
1070/1070 [==============================] - 3s 3ms/step - loss: 50237.5448 - accuracy: 0.0000e+00
Epoch 100/100
1070/1070 [==============================] - 3s 3ms/step - loss: 48975.8176 - accuracy: 0.0000e+00

In [74]:
Y_pred=model.predict(X_test)
Y_pred
from sklearn.metrics import r2_score
print(r2_score(Y_test,Y_pred))

-6.6045234041745005e-06